{% extends 'admin/base.html' %}

{% block content %}
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">添加标签</h3>
            </div>
            <form role="form" , method="post">
                <div class="box-body">
                    <div class="form-group">
                        <label for="input_name">{{ form.name.label }}</label>
                        {#                                    <input type="text" class="form-control" id="input_name" placeholder="请输入标签名称！">#}
                        {{ form.name(value=tag.name) }}
                        {% for error in form.name.errors %}
                            <div class="col-md-12">
                                {{ error }}
                                <font style="color: red;">{{ error }}</font>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="box-footer">
                    {#                                <button type="submit" class="btn btn-primary">添加</button>#}
                    {{ form.csrf_token }}
                    {{ form.submit }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}